<!--<p>This is the about view.</p>-->
<!--<li><a href="" ng-click="logout()">Log Out</a></li>-->

<div class="jumbotron">
  <h3>'Allo, 'Allo!</h3>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
   Welcome to AMPATH Dev Meal System.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

    <h3>Select The Restaurant of your Choice</h3>
        <!--<form name="menuForm"-->
    <ul >
        <li ng-repeat="(key,Cafeteria) in myRestaurant">
            {{Cafeteria.restname}} 
        <button class="btn btn-lg btn-success" ng-submit="order" ng-click="orderfood(key,Cafeteria)">Check foods</button> 
        </li>
    </ul>
      
</div>
 <table border="1" class="w3-table w3-striped w3-bordered w3-border">
     {{me}}
        <thead>
            <tr>
                <td>Food Name</td>
                <td>Price</td>
                <td>Select your order</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="food in foods">
                <td>{{food.foodname}}</td>
                <td>{{food.price | currency}}</td>
                <td><button class="w3-btn w3-ripple" ng-click="storage(food)">&#4598; Order</button></td>
            </tr>
        </tbody>
    </table>

    <form>
    </form>