<!--<p>This is the about view.</p>-->
<!--<li><a href="" ng-click="logout()">Log Out</a></li>-->

<div class="jumbotron">
  <h3>'Allo, 'Allo!</h3>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
   Welcome to AMPATH Dev Meal System.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

    <h3>Select The Restaurant of your Choice</h3>
        <!--<form name="menuForm"-->
            <!--Displaying restnames in lists-->
<form>
    <h2>Restaurants</h2>
    <ul> <h3>
        <li ng-repeat="(key,Cafeteria) in myRestaurant">
            {{Cafeteria.restname}} 
        <div>
        <button class="btn btn-lg btn-success" ng-submit="order" ng-click="orderfood(key,Cafeteria)">Check foods</button> 
        </div>
        </li>
        </h3>
    </ul>
</form>
</div>
<div>
 <table border="1" class="w3-table w3-striped w3-bordered w3-border">
     {{me}}
        <thead>
            <tr>
                <td>Food Name</td>
                <td>Price</td>
                <td>Select your order</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="food in foods">
                <td>{{food.foodname}}</td>
                <td>{{food.price | currency}}</td>
                <td><button class="w3-btn w3-ripple" value="Show alert" ng-click="storage(food)">&#4598; Select</button></td>
            </tr>
        </tbody>
    </table>
</div>
<!--
<div>
<table class="w3-table w3-striped w3-bordered w3-border" ng-show="!del">
    <tr>
        <th>Food</th>
        <th>Price</th>-->
        <!--<th>Restaurant</th>-->
    <!--</tr>
    <tr ng-repeat="(key, meals) in orderedfood">-->
        <!--<td>{{meals.foods.restname}}</td>-->
        <!--<td>{{meals.foodname}} </td>
        <td>{{meals.price | currency}} </td>
        <td><button class="w3-btn w3-ripple" ng-click="changeDelivered(key, meals)">&#4598; Delivered</button></td>
    </tr>
</table>
</div>-->
    <!--<div>
        <button class="w3-btn w3-ripple" ng-click="order()">Ordered Food</button>
    </div>
    <table class="w3-table w3-striped w3-bordered w3-border" ng-show="!del">
    <tr>
        <th>Food</th>
        <th>Price</th>-->
        <!--<th>Restaurant</th>-->
   <!-- </tr>
    <tr ng-repeat="(key, meals) in orderedfood">
        <!--<td>{{meals.foods.restname}}</td>-->
        <!--<td>{{meals.foodname}} </td>
        <td>{{meals.price | currency}} </td>
    </tr>
    </table>-->
    <form>
    </form>